# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*_seq
*_openmp
*_cuda
*.txt
*.dat
*DS_Store
*.dSYM
*.m~
*_mpi
*.h5
*.vln
*.vtk
*.xcodeproj
